{#
/**
 * @file
 * Template for a three-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}

{%
  set classes = [
    'layout',
    'layout--pb-three-columns',
  ]
%}
{% if content %}
  {{ attach_library('pb_layouts/pb_editor_layout_styles') }}
  <div{{ attributes.addClass(classes) }}>
    {% if content.header %}
      <div {{ region_attributes.header.addClass('layout__region', 'layout__region--header') }}>
        {{ content.header }}
      </div>
    {% endif %}

    {% if content.column_a %}
      <div {{ region_attributes.column_a.addClass('layout__region', 'layout__region--column_a') }}>
        {{ content.column_a }}
      </div>
    {% endif %}

    {% if content.column_b %}
      <div {{ region_attributes.column_b.addClass('layout__region', 'layout__region--column_b') }}>
        {{ content.column_b }}
      </div>
    {% endif %}

    {% if content.column_c %}
      <div {{ region_attributes.column_c.addClass('layout__region', 'layout__region--column_c') }}>
        {{ content.column_c }}
      </div>
    {% endif %}

    {% if content.footer %}
      <div {{ region_attributes.footer.addClass('layout__region', 'layout__region--footer') }}>
        {{ content.footer }}
      </div>
    {% endif %}
  </div>
{% endif %}

